* {
    box-sizing: border-box;
}

body {
    background-color: #1c1a1a;
    margin: 0;
    color: white;
}

html, body {
    width: 100%; 
    height: 100%;
}

#homepage {
    overflow: hidden;
}

@font-face {
    font-family: Hanson Bold;
    font-weight: bold;
    src: url("/fuentes/Hanson-Bold.otf") format("opentype");
}



.home-video-container {
    height: 100vh;
    overflow: hidden;

}

.home-video {
    width: 100vw;
    opacity: 0.5;
}


.container-position {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0; 
}

.container-alignment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.title {
    font-family: Hanson Bold;
    font-size: 7vw;
    -webkit-text-stroke: 3px white;
    color: transparent;   
    letter-spacing: 4px; 
    text-align: center;
    text-transform: uppercase;
}

.title-page {
    font-family: Hanson Bold;
    font-size: 5vw;
    -webkit-text-stroke: 3px white;
    color: transparent;   
    letter-spacing: 4px; 
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0;
    margin-top: 100px;
}

h1 {
    margin-bottom: 50px;
}

h2 {
    font-family: Hanson Bold;
    font-size: 3vw;
    color: white;   
    letter-spacing: 4px; 
    text-align: left;
    text-transform: uppercase;
    margin: 40px 0 10px 0;
}

p {
    color: white;
    font-size: 16pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0 0 40px 0;

}

nav,footer {
    display: flex;
    width: 700px;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 20px;
}

a:hover {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: ease-in 0.2s;
}



.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;

}

/* Prueba Flex */

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
    margin: 0 150px;
}

.flex-row2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 150px;
}

.flex-row3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-image2 {
    padding: 5px;
}

.flex {
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
}




.flex-image {
    overflow: hidden;
    padding: 5px;
}

.x1 {
    width: 33%;
}

.x2 {
    width: 66%;
}

.xmitad {
    width: 50%;
}

.p-left {
    padding-left: 10px;
}

.p-left2 {
    padding-left: 5px;
}

.p-right {
    padding-right: 10px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}







video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.youtube {
    width: 100%;
    height: auto;
}

iframe {
    width: 100%;
    height: 500px;

}

.margin-top {
    margin-top: 50px;
}

.margin-top2 {
    margin-top: 150px;
}

.about {
    margin: 100px 150px 0;
}


@media (max-width: 768px) {

    .title, .title-page {
        color: white;
        -webkit-text-stroke: 0px transparent;
        font-size: 8vw;
        
        
        
    }

    .title-page {
        margin-top: 80px;
    }
    
    h2 {
        font-size: 5vw;
        margin-bottom: 8vw;
        text-align: center;
        line-height: 8vw;
    }

    p {
        padding: 0 7vw;
        font-size: 5vw;
    }

    .home-video {
        height: 100vh;
        object-fit: cover;
        opacity: 0.5;
    }
    .home-title {
        font-size: 10vw;
        -webkit-text-stroke: 1px white;   
    }

    nav {
        width: 200px;
        flex-direction: column;
        align-items: center;
    }
    a {
        font-size: 5vw;
        padding: 20px;
    }

    .flex-responsive {
        display: flex;
        width: 100%;
        height: auto;
        padding: 0 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }


    .container-alignment {
        margin-bottom: 80px;
    }

    .xr {
        width: 100%;
        height: 100%;
        height: auto;
    }

    .p-left {
        padding-left: 5px;
    }

    .p-right {
        padding-right: 5px;
    }

    .p-left2 {
        padding-left: 0;
    }

    .p-leftr {
        padding-left: 20px;
    }

    .about {
        margin: 0;
        margin-top: 60px;
        padding: 20px;
    }

    .container-footer {
        margin-top: 30px;
    }
   
}