* {
    box-sizing: border-box;
    cursor: url('http://pixelartmaker.com/art/ca28a3886c41224.png'), auto;
}

body {
    background-color: #1c1a1a;
    margin: 0;
    color: white;
}

html, body {
    width: 100%; 
    height: 100%;
}

@font-face {
    font-family: Hanson Bold;
    font-weight: bold;
    src: url("/fuentes/Hanson-Bold.otf") format("opentype");
}


.home-video-container {
    height: 100vh;
    overflow: hidden;

}

.home-video {
    width: 100vw;
    opacity: 0.5;
}


.container-position {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0; 
}

.container-alignment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.title {
    font-family: Hanson Bold;
    font-size: 7vw;
    -webkit-text-stroke: 3px white;
    color: transparent;   
    letter-spacing: 4px; 
    text-align: center;
    text-transform: uppercase;
}

.title-page {
    font-family: Hanson Bold;
    font-size: 5vw;
    -webkit-text-stroke: 3px white;
    color: transparent;   
    letter-spacing: 4px; 
    text-align: center;
    text-transform: uppercase;
    padding: 60px 0;
}

nav,footer {
    display: flex;
    width: 700px;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 10px;
}

a:hover {
    text-decoration: none;
    color: white;
    font-weight: 600;
}



.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;

}

/* Prueba Flex */

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
    margin: 0 70px;
}

.flex-image {
    overflow: hidden;
    padding: 5px;
}

.x1 {
    width: 33%;
}

.x2 {
    width: 66%;
}

.xmitad {
    width: 50%;
}

.p-left {
    padding-left: 10px;
}

.p-right {
    padding-right: 10px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



@media (max-width: 768px) {

    .home-video {
        height: 100vh;
        object-fit: cover;
        opacity: 0.5;
    }
    .home-title {
        font-size: 10vw;
        -webkit-text-stroke: 1px white;   
    }

    nav {
        width: 200px;
        flex-direction: column;
        align-items: center;
    }
    nav a {
        font-size: 3vw;
    }

}